#wd-courses-navigation > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black 
  }
  /* Add a transition effect for smooth color change */
  .list-group-item {
    transition: background-color 0.3s, color 0.3s;
  }

  #wd-courses-navigation > .list-group-item.inactive {
    color: red;
    background-color: white;
    border-left: 3px solid black 
  }